.breadcrumbs {
  font-size: 0.9em;
  color: #555;
  padding: 10px 0;

  a {
    text-decoration: none;
    color: #4d5791;
    &:hover {
      text-decoration: underline;
    }
  }

  span {
    color: #999;
  }
}
